.Inicio
	.wrapper-content
		padding-left 0
		.altohijo
			&:nth-child(2n+1)	
				padding-left 50px
				@media screen and (min-width: 1200px)
					padding-left 220px
					
		div
			padding-bottom 30px
	.bg-verde1
		background #c4ddcd
		.bg-verde1-content
			padding-top 60px
		.bg-verde2
			background #b0ccbc
			padding-top 60px
			padding-left 90px
			ul
				margin 0
				padding 0
				list-style none
				li
					display block
					&:first-child
						a
							border-top 1px solid #A7A9A8
					&:last-child
						a
							border-bottom 0px solid #A7A9A8
					a
						border-bottom 1px solid #A7A9A8
						display block
						padding-right 40px
						padding-bottom 20px
						padding-top 20px
						line-height 1.5em
						text-decoration none
						width 70%
						&.title
							color #607476
							font-size 20px
							span
								&.verder
									color #616857
									transition 0.5s all ease
									font-family "family_geargiaregular"
									font-style bold
									font-size 17px
								&.gris
									color #c0cac3
									font-family "family_geargiaregular"
									font-style italic
									font-size 15px
						&:hover
							span
								&.verder
									color #0d8ba1
	.bg-blanco
		background color-blanco
		padding-top 80px
		&.separate
			padding-top 60px
		.download
			color color-verdeclaro2
			text-decoration none
			transition 0.5s all ease
			padding 10px
			&:hover
				background color-verdeclaro3
				color color-blanco
	.bg-gris
		background color-gris
		padding-top 80px
		padding-left 90px
		ul
			margin 0
			padding 0
			list-style none
			li
				display block
				a
					border-bottom 1px solid #c0cac3
					display block
					padding-right 40px
					padding-bottom 20px
					padding-top 20px
					line-height 1.5em
					text-decoration none
					width 70%
					&.title
						color color-verdeclaro3
						font-size 16px
						span
							&.verder
								color #616857
								transition 0.5s all ease
								font-family "family_geargiaregular"
								font-style bold
								font-size 17px
							&.gris
								color #c0cac3
								font-family "family_geargiaregular"
								font-style italic
								font-size 15px
					&:hover
						span
							&.verder
								color #0d8ba1
							
	.description
		&.separate
			margin-bottom 15px
	.title
		color color-verdeclaro2
		font-size 32px
		&.separate
			margin-top 30px
			margin-bottom 15px