@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('../fonts/libre/librebaskerville-italic-webfont.eot');
    src: url('../fonts/libre/librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/libre/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('../fonts/libre/librebaskerville-italic-webfont.woff') format('woff'),
         url('../fonts/libre/librebaskerville-italic-webfont.ttf') format('truetype'),
         url('../fonts/libre/librebaskerville-italic-webfont.svg#libre_baskervilleitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_baskervillebold';
    src: url('../fonts/libre/librebaskerville-bold-webfont.eot');
    src: url('../fonts/libre/librebaskerville-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/libre/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('../fonts/libre/librebaskerville-bold-webfont.woff') format('woff'),
         url('../fonts/libre/librebaskerville-bold-webfont.ttf') format('truetype'),
         url('../fonts/libre/librebaskerville-bold-webfont.svg#libre_baskervillebold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('../fonts/libre/librebaskerville-regular-webfont.eot');
    src: url('../fonts/libre/librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/libre/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('../fonts/libre/librebaskerville-regular-webfont.woff') format('woff'),
         url('../fonts/libre/librebaskerville-regular-webfont.ttf') format('truetype'),
         url('../fonts/libre/librebaskerville-regular-webfont.svg#libre_baskervilleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'julius_sans_oneregular';
    src: url('../fonts/juliuss/juliussansone-regular-webfont.eot');
    src: url('../fonts/juliuss/juliussansone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/juliuss/juliussansone-regular-webfont.woff2') format('woff2'),
         url('../fonts/juliuss/juliussansone-regular-webfont.woff') format('woff'),
         url('../fonts/juliuss/juliussansone-regular-webfont.ttf') format('truetype'),
         url('../fonts/juliuss/juliussansone-regular-webfont.svg#julius_sans_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'voyageregular';
    src: url('../fonts/voyage-reg/voyage_regular_2-webfont.eot');
    src: url('../fonts/voyage-reg/voyage_regular_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/voyage-reg/voyage_regular_2-webfont.woff2') format('woff2'),
         url('../fonts/voyage-reg/voyage_regular_2-webfont.woff') format('woff'),
         url('../fonts/voyage-reg/voyage_regular_2-webfont.ttf') format('truetype'),
         url('../fonts/voyage-reg/voyage_regular_2-webfont.svg#voyageregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futuramedium';
    src: url('../fonts/futura/futurabt-medium-webfont.eot');
    src: url('../fonts/futura/futurabt-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futurabt-medium-webfont.woff2') format('woff2'),
         url('../fonts/futura/futurabt-medium-webfont.woff') format('woff'),
         url('../fonts/futura/futurabt-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_condensedmedium';
    src: url('../fonts/futura/futurabt-mediumcondensed-webfont.eot');
    src: url('../fonts/futura/futurabt-mediumcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futurabt-mediumcondensed-webfont.woff2') format('woff2'),
         url('../fonts/futura/futurabt-mediumcondensed-webfont.woff') format('woff'),
         url('../fonts/futura/futurabt-mediumcondensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/menu/fontello.eot?61182926');
  src: url('../fonts/menu/fontello.eot?61182926#iefix') format('embedded-opentype'),
       url('../fonts/menu/fontello.woff?61182926') format('woff'),
       url('../fonts/menu/fontello.ttf?61182926') format('truetype'),
       url('../fonts/menu/fontello.svg?61182926#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?61182926#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-menu:before { content: '\e800'; } /* '' */