vendor-prefixes = o ms moz webkit
color-menu = #fff
color-menuhover = #d2b470
color-blanco = #fff
color-negro = #000
color-negroclaro = #010101
color-gris = #e5ede8
color-naranja = #993300
color-mostaza = #cc9900
color-verdeclaro = #325050
color-verdeclaro2 = #809b7e
color-verdeclaro3 = #3d8a9f
family_arail = "Arial"
family_juliuss = "julius_sans_oneregular"
family_libre_i = "libre_baskervilleitalic"
family_voyageregular = "voyageregular"
family_geargiaregular = "Georgia, Times, 'Times New Roman', serif"
font-tipografia(tamano, peso, _color,_fuente)
	font-size tamano
	font-family _fuente, sans-serif;
	font-weight peso 
	color _color
body
	font-size 16px
	overflow-x hidden
.center
	margin-left auto 
	margin-right auto
	text-align center
.align-right
	text-align right
h1, h2, h3, p
	margin 0
	padding 0
.title
	font-tipografia(38px, normal, color-blanco,family_juliuss)
	@media screen and (min-width: 1200px)
		font-size 50px
.description
	font-tipografia(16px, normal, color-verdeclaro,family_geargiaregular)
	line-height 2.25em
.subtitle
	font-tipografia(24px, normal, color-blanco,family_libre_i)
	@media screen and (min-width: 1200px)
		font-size 30px
.sumilla
	font-tipografia(12px, normal, color-blanco,family_arail)
.flecha
	font-tipografia(180px, normal, color-blanco,family_voyageregular)
.wrapper-content
	padding-left 30px
	padding-right 15px
	@media screen and (min-width: 1200px)
		padding-left 180px
