doctype html
html(lang="es",ng-app="AppExamen")
	head
		title Examen
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width,initial-scale=1")

		link(href="./bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
		link(rel="stylesheet", href="./bower_components/ng-dialog/css/ngDialog.css")
		link(rel="stylesheet", href="./bower_components/ng-dialog/css/ngDialog-theme-default.css")
		link(rel="stylesheet", href="./bower_components/ng-dialog/css/ngDialog-theme-plain.css")
		link(rel="stylesheet", href="./bower_components/ng-dialog/css/ngDialog-custom-width.css")
		link(href="./public/css/font.css", rel="stylesheet")
		link(href="./public/css/app.css", rel="stylesheet")

		script(src="./bower_components/jquery/dist/jquery.min.js")
		script(src="./bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="./bower_components/angular/angular.min.js")
		script(src="./bower_components/ng-dialog/js/ngDialog.min.js")
		script(src="./bower_components/angular-sanitize/angular-sanitize.min.js")
		
		script(src="./public/scripts/examen.js")
		script(src="./public/scripts/controllers/controllers.js")
	body
		include ../header/header.jade
		include ../contenido/contenido.jade
		include ../footer/footer.jade