.header
	background-image url('../images/huntington.jpg')
	background-position 0 -142px
	background-repeat no-repeat
	background-size cover
	border-top 12px solid rgba(19,67,71, 0.8)
	box-shadow inset 0 0 100px rgba(255, 255, 255, 0.45)
	padding-top 70px 
	height 310px
	width 100%
	&:before
		background rgba(0, 39, 43, 0.2)
		content " "		
		display block
		height 7px
		position absolute
		top 9px
		left 0
		width 100%
		z-index 1
	.rejillas
		background-image url('../images/gridlines.png')
		background-position 0 0px
		background-repeat repeat-x
		height 100%
		.huella
			background-image url('../images/contours.png')
			background-position 0 0px
			background-repeat repeat-x
			height 100%
		figure, .inner-title
			display inline-block
			vertical-align middle
		figure
			width 16%
		.inner-title
			padding-left 30px
			h2
				color rgba(255,255,255,0.6)
		.designs
			padding-top 20px
			float right
			@media screen and (min-width: 1200px)
				padding-top 40px
			a, div
				background rgba(255,255,255, 0.15)
				cursor pointer 
				display inline-block
				text-decoration none
				height 70px
				vertical-align top
			a
				color rgba(255,255,255,0.6)
				line-height 0.23em
				padding-left 20px
				transition 0.5s all ease
				width 70px
				&:hover
					background rgba(255,255,255, 0.4)
					color rgba(255,255,255,0.9)
					
			div
				font-size 20px
				line-height 3.75em
				padding 0 20px
				margin 0 2px
				transition 0.5s all ease
				text-align center
				@media screen and (min-width: 1200px)
					padding 0 30px
				&:hover
					background rgba(255,255,255, 0.4)
					
						
		