header.header(ng-controller="HeaderCrtl")
	.rejillas.wrapper-content
		.huella
			.row
				.col-md-7
					figure
						img(src="./public/images/enso.svg", class="img-responsive")
					.inner-title
						h1.title CSS ZEN GARDEN
						h2.subtitle The Beauty of CSS Design
				.col-md-5
					.designs
						a.flecha(ng-click="mostrarData(0)")
							| <
						div.title VIEW ALL DESIGNS
						a.flecha(ng-click="mostrarData(1)")
							| >
