.Footer
	background-image url('../images/huntington.jpg')
	background-position 0 -142px
	background-repeat no-repeat
	background-size cover
	box-shadow inset 0 0 100px rgba(255, 255, 255, 0.45)
	padding-top 100px 
	width 100%
	&:before
		background rgba(0, 39, 43, 0.2)
		content " "		
		display block
		height 7px
		position absolute
		top 9px
		left 0
		width 100%
		z-index 1
	.social
		background #134347
		padding 40px
		margin auto
		text-align center
		ul
			margin 0
			padding 0
			list-style none
			li
				display inline-block
				vertical-align top
				padding-left 40px
				padding-right 40px
				&:first-child
					padding-left 0
				&:last-child
					padding-right 0
	.rejillas
		background-image url('../images/gridlines.png')
		background-position 0 0px
		background-repeat repeat-x
		padding-bottom 80px
		height 100%
		.huella
			background-image url('../images/contours.png')
			background-position 0 0px
			background-repeat repeat-x
			text-align center
			height 100%
			.subtitle
				color rgba(255, 255, 255, 0.4)
				line-height 2em
				a
					color rgba(255, 255, 255, 0.7)
					font-family "libre_baskervillebold"