footer.Footer
	article.rejillas
		.huella
			.container
				h1.subtitle
					| By 
					a(href="#")
						| Dave Shea
					| . Bandwidth graciously donated by 
					a(href="#")
						| mediatemple
					| . Now available: 
					a(href="#")
						| Zen Garden, the book.
	article.social
		ul
			li
				a(href="#")
					img(src="./public/images/social.png", alt="")
			li
				a(href="#")
					img(src="./public/images/social.png", alt="")
			li
				a(href="#")
					img(src="./public/images/social.png", alt="")
			li
				a(href="#")
					img(src="./public/images/social.png", alt="")
			li
				a(href="#")
					img(src="./public/images/social.png", alt="")